/* Media Queries */

@media (max-width: 89em) {
  .projects {
    width: 600px;
  }
}

@media (max-width: 80em) {
  main {
    display: grid;
    grid-template-columns: 350px 1fr;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .announcements-and-trending {
    margin-left: 9.5rem;
    margin-top: 2rem;
  }

  .trending {
    margin-top: -4rem;
  }

  .wrapper-links {
    gap: 1rem;
  }

  @media (max-width: 63em) {
    aside {
      width: 14rem;
    }

    header {
      padding: 0;
    }

    .welcome-container {
      font-size: 1.2rem;
    }

    .btns-header {
      display: flex;
      flex-direction: column;
    }

    button {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
    }

    .wrapper-links {
      gap: 1rem;
    }
  }

  @media (max-width: 58em) {
    header {
      margin-right: 5rem;
    }

    .profile-container {
      gap: 0.5rem;
    }

    .wrapper-links {
      gap: 1rem;
    }
  }

  @media (max-width: 54em) {
    header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    header,
    .projects {
      width: 300px;
    }

    .announcements {
      width: 300px;
      align-items: flex-start;
    }

    .wrapper-links {
      gap: 1rem;
    }

    .announcements-and-trending {
      margin-left: 0px;
    }

    header {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 500px) {
  header {
    display: flex;
    width: 200px;
  }

  input {
    width: 10rem;
    height: 2rem;
  }

  .welcome-container {
    gap: 0.4rem;
  }

  .user-avatar-small {
    width: 50px;
    height: 50px;
  }

  .user-avatar-big {
    width: 60px;
    height: 50px;
  }

  .projects {
    width: 250px;
  }

  .project {
    width: 15rem;
  }

  .announcements-and-trending {
    gap: 6rem;
  }

  .announcement {
    width: 13rem;
  }

  aside {
    width: 10rem;
    /* height: 100vh; */
  }

  body {
    height: 100vh;
    grid-template-columns: 10.7rem 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
