/* Media Queries */

@media (max-width: 89em) {
  .projects {
    width: 600px;
  }

  aside {
    width: 14rem;
  }
}

@media (max-width: 1282px) {
}

@media (max-width: 80em) {
  main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 4rem;
  }

  .announcements-and-trending {
    margin-left: 9.5rem;
    margin-top: 2rem;
  }

  .trending {
    margin-top: -4rem;
  }

  .wrapper-links {
    gap: 1rem;
  }

  @media (max-width: 77.5em) {
    main {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 63em) {
    aside {
      width: 14rem;
    }

    header {
      padding: 0;
    }

    .welcome-container {
      font-size: 1.2rem;
    }

    .btns-header {
      display: flex;
      flex-direction: column;
    }

    button {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
    }

    .wrapper-links {
      gap: 1rem;
    }
  }

  @media (max-width: 58em) {
    .profile-container {
      gap: 0.5rem;
    }

    .wrapper-links {
      gap: 1rem;
    }
  }

  @media (max-width: 54em) {
    header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    .announcements {
      width: 300px;
      align-items: flex-start;
    }

    .wrapper-links {
      gap: 1rem;
    }

    .announcements-and-trending {
      margin-left: 0px;
    }

    header {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 810px) {
  header {
    display: flex;
    /* width: 200px; */
  }

  input {
    width: 10rem;
    height: 2rem;
  }

  .welcome-container {
    gap: 0.4rem;
  }

  .user-avatar-small {
    width: 50px;
    height: 50px;
  }

  .user-avatar-big {
    width: 60px;
    height: 50px;
  }

  .projects {
    width: 300px;
  }

  .announcements-and-trending {
    gap: 6rem;
  }

  .announcement {
    width: 20rem;
  }

  aside {
    width: 10rem;
  }

  body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .menu-wrapper {
    display: block;
  }

  header {
    grid-column: 1 / 2;
    margin-top: 0.9rem;
  }

  main {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  aside {
    display: none;
  }

  .menu-wrapper {
    display: block;
  }
}
