* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 17rem 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 1rem;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Header  */

header {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.welcome-container {
  font-size: 1.8rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  background-color: #ddd6fe;
  color: #6d28d9;
  font-size: 1.3rem;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.profile-container,
.welcome-container,
.btns-header {
  display: flex;
  align-items: center;
}

.profile-container {
  gap: 1.2rem;
}

.user-avatar-big {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-avatar-big:hover,
.user-avatar-small:hover,
svg:hover {
  cursor: pointer;
}

.user-avatar-small {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.btns-header {
  gap: 1rem;
}

.header-btn {
  background-color: #6d28d9;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.2rem;
}

/* Aside */

aside {
  background-color: #6d28d9;
  color: #ddd6fe;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.wrapper-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo {
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
}

.main-links {
  margin-top: 4rem;
  display: flex;
}

li {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* main section */

/* projects */

main {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

.projects {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  width: 700px;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ddd6fe;
  border-bottom: 1px solid #ddd6fe;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-left: -0.5rem;
}

.project {
  border-left: solid 8px #6d28d9;
  border-radius: 0.8rem;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem;
  box-shadow: #ddd6fe 0.2rem 0.3rem 1rem 0.3rem;
}

.icons-block {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

/* Announcements */
.announcements-and-trending {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-left: 1rem;
}

.announcement h6:hover {
  cursor: pointer;
}
.announcement {
  padding: 0.5rem;
  width: 400px;
}

.announcement {
  border-left: 1px solid #ddd6fe;
  border-right: 1px solid #ddd6fe;
}

.share-day,
.privacy {
  border-top: solid 1px #ddd6fe;
}

.announ-h4,
.trending-h4 {
  margin-bottom: 1rem;
}

/* Trending */

.trending {
  margin-bottom: 4rem;
  margin-left: 0.5rem;
}

.trend {
  display: flex;
  gap: 1rem;
}
